{
  "exclude": [
    "tests/",
    "coverage/",
    ".eslintrc.js"
  ],
  "extension": [
    ".js"
  ],
  "cache": true,
  "all": true,
  "check-coverage": true,
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 90
}